<div class="container">
    <h1><%= @booking.inspection.location %> </h1>

    <h5>
        Email: <%= @booking.user.email %>
    </h5>

    <h5>
        Note: <%= @booking.note %>
    </h5>
    <h5>
        Status: <%= @booking.status %>
    </h5>
    <%= link_to "Edit", edit_booking_path(@booking) %>

    <%= link_to "Submit", submit_booking_path(@booking), method: :patch %>
    <%= link_to "Complete", complete_booking_path(@booking), method: :patch %>

</div>
