<div class=" container login-screen ml-3 my-3">

  <h2>Forgot password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Reset" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<div class="door">
<!-- png image of the door goes here -->
<!-- if @media xs - hide door -->
</div>
