<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= image_tag("logo.png", alt: 'Logo', width:132.17, height:40)%>
    <!-- <li class="fas fa-house-user"></li> -->
    <h3 class="pro">| Pro</h3>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <button type="button" class="btn nav_btn btn"><%= link_to 'Hire', "/inspections/new", class: "nav-link"%></button>
      </li>
      <li class="nav-item active">
        <button type="button" class="nav_btn btn"><%= link_to 'Become', "/inspections", class: "nav-link"%></button>
      </li>
      <% unless current_user.blank? %>
        <li class="nav-item active">
          <button type="button" class="dash_btn nav_btn btn"><%= link_to 'Dashboard', "/dashboard", class: "nav-link"%></button>

        </li>
      <% else %>
        <li class="nav-item active">
          <button type="button" class="btn nav_btn"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button>

        </li>
      <% end %>


    </ul>
  </div>
</div>


