<div class="ml-5">
<h1 > Dashboard </h1>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link" %>

  <ul class="nav nav-tabs align" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Inspections</a>
    </li>
  </ul>
</div>

<div class="scroller_dash container">




  <span class=" tab-content" id="myTabContent">
    <span class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%@my_bookings.each do |booking| %>

      <h5> <%= link_to booking.user.email, booking_path(booking)%> </h5>
      <h5> Note: <%= booking.note %> </h5>
      <h5> Status: <%= booking.status %> </h5>

      <% end %>
    </span>
    <span class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% @my_inspections.each do |inspection| %>
        <% inspection.bookings.each do |booking| %>

          <h5> Email: <%= booking.user.email %> </h5>
          <h5> Note: <%= booking.note %> </h5>
          <h5> Status: <%= booking.status %> </h5>

        <% end %>
      <% end %>
    </span>
  </span>
</div>
