<div class="scroller_dash no-scroll container">

  <div class="row card-container">
    <div class="col ">
      <div class="show-card card index-card"> <!-- style="width: 20rem" -->
        <div class="card-body">
          <div class="fixed-width mt-3 ml-1 pl-3">
          <!-- <h1 > Dashboard </h1> -->
            <div class="user_lg">
            <%= @current_user.username %>
            </div>

            <div class="edit">

            </div>
            <div class="log-out">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </div>
          </div>
        </div>
          <ul class="nav nav-tabs align" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="listings-tab" data-toggle="tab" href="#listings" role="tab" aria-controls="listings" aria-selected="false">Listings</a>
            </li>
          </ul>


          <span class=" tab-content" id="myTabContent">

            <!-- Offers panel -->
            <span class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%@my_bookings.each do |booking| %>
              <h5> <%= link_to booking.user.username, user_path(booking.user_id)%>
              </h5>
              <h5> <%= link_to booking.inspection.location, booking_path(booking)%>
              </h5>
              <h5> Note: <%= booking.note %> </h5>
              <h5> Status: <%= booking.status %> </h5>

              <% end %>
            </span>

            <!-- Requests panel -->
            <span class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <% @my_inspections.each do |inspection| %>
                <% inspection.bookings.each do |booking| %>

                  <h5> Email: <%=link_to booking.user.username, booking_path(booking)%> </h5>
                  <h5> Note: <%= booking.note %> </h5>
                  <h5> Status: <%= booking.status %> </h5>

                <% end %>
              <% end %>
            </span>

            <!-- Listings panel -->
            <span class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">
              <% @my_inspections.each do |inspection| %>


                   <%= inspection.location.truncate(25, separator: /\s/, omission: '')%><br>
                    <%= inspection.date.strftime('%e %b') %>
                    <span> <%= inspection.time.to_time.strftime('%H:%M') %></span>

                  <div class="bot_sec">
                    <div class="user">
                      <%= link_to inspection.user.username, user_path(inspection.user_id), :class => "view-profile" %>
                    </div>
                    <div class="desc speech-bubble">

                       <%= inspection.description.truncate(40, separator: /\s/, omission: '...') %>
                    </div>
                  </div>
                  <div class="price">
                    <h6><strong>$<%= inspection.payment_amount %></strong></h6>
                  </div>




              <% end %>
            </span>
          </span>
        </div>
      </div>
    </div>
</div>
