<%#= link_to "Show all inspections", inspections_path %>

<div class="scroller_index no-scroll ml-0">
    <div class=" card-container">
      <div class="col fix_contain">
        <% @inspections.each do |inspection| %>
            <div class="card index-card"> <!-- style="width: 20rem" -->
                <!-- <img class="card-img-top" src="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1143&q=80" alt="Card image top"> -->
                <div class="card-body">
                  <div class="card_type">
                    <i class="fas fa-home"></i>
                  </div>
                  <div class="top_sec">
                   <%= inspection.location.truncate(25, separator: /\s/, omission: '')%><br>
                    <%= inspection.date.strftime('%e %b') %>
                    <span> <%= inspection.time.to_time.strftime('%H:%M') %></span>
                  </div>
                  <div class="bot_sec">
                    <div class="user">
                      <%= link_to inspection.user.username, user_path(inspection.user_id), :class => "view-profile" %>
                    </div>
                    <div class="desc speech-bubble">

                       <%= inspection.description.truncate(40, separator: /\s/, omission: '...') %>
                    </div>
                  </div>
                  <div class="price">
                    <h6><strong>$<%= inspection.payment_amount %></strong></h6>
                  </div>
                  <div class="view">
                    <%= link_to "View", inspection_path(inspection) %>
                  </div>
                </div>
            </div>
        <% end %>

      </div>
    </div>
</div>

