
<div class="container my-5">
  <%= simple_form_for(@inspection) do |f| %>
    <%= f.input :location %>
    <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker js-flatpickr-dateTime"} %>

    <%#= f.input :time, label: "Start Time"%>
    <%= f.input :payment_amount, label: "Budget" %>
    <%= f.input :description, :as => :text %>
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    <i class="icon-ok icon-white"></i> Create
  <% end %>
  <% end %>
</div>
