<%= link_to "Show all inspections", inspections_path %>

<div class="scroller_index ml-0">
    <div class="row card-container">
      <div class="col ">

        <div class=" card index-card">
          <h4 class="show-content">
            <ul class="ul pl-0 ml-1 ">
              <li><%= @inspection.location.truncate(25, separator: /\s/) %></li>
              <li><%= @inspection.time.to_time.strftime('%H:%M %p') %></li>
              <li><%= @inspection.date.strftime('%B %e') %></li>
              <!-- <li>Finish time: <%#= @inspection.finish_time %></li> -->
              <li><%= @inspection.payment_amount %></li>
              <li><%= @inspection.description %></li>
              <li><%= link_to @inspection.user.username, user_path(@inspection.user_id)%></li>
            </ul></h4>

            <%= link_to "Edit inspection", edit_inspection_path(@inspection), :class => "btn btn-success" %>
          <%= link_to "Delete inspection", inspection_path(@inspection), method: :delete, :class => "btn btn-danger" %>
        </div>


      </div>
    </div>
</div>
