<h1>Inspections#show</h1>
<p>Find me in app/views/inspections/show.html.erb</p>

<ul>
    <li>Location: <%= @inspection.location %></li>
    <li>Date: <%= @inspection.date %></li>
    <li>Start time: <%= @inspection.time %>Finish time: <%= @inspection.finish_time %></li> 
    <li>Payment: <%= @inspection.payment_amount %></li>
    <li>Job Description: <%= @inspection.description %></li>
</ul>>
<%= link_to "Show all inspections", inspections_path %>