<h1>Inspections</h1>

<ul>
    <li>Location: <%= @inspection.location %></li>
    <li>Date: <%= @inspection.date %></li>
    <li>Start time: <%= @inspection.time %>Finish time: <%= @inspection.finish_time %></li> 
    <li>Payment: <%= @inspection.payment_amount %></li>
    <li>Job Description: <%= @inspection.description %></li>
</ul>

<h3> Bookings: </h3>
<% @bookings.each do |booking| %>

    <h5> username: <%= link_to booking.user.email, booking_path(booking) %> </h5>

    <h5> note: <%= booking.note %> </h5>

    <h5> status: <%= booking.status %> </h5>
    <br/>
    <%= link_to "Accept", inspections_path %>
    <%= link_to "Reject", inspections_path %>

<% end %>
<br/>
<div> <%= link_to "Show all inspections", inspections_path %> </div>

<%= simple_form_for [@inspection, @booking] do |f| %>
  <%= f.input :note %>
  <%= f.submit %>
<% end %>