<h1>Inspections</h1>

<ul>
    <li>Location: <%= @inspection.location %></li>
    <li>Date: <%= @inspection.date %></li>
    <li>Start time: <%= @inspection.time %>Finish time: <%= @inspection.finish_time %></li>
    <li>Payment: <%= @inspection.payment_amount %></li>
    <li>Job Description: <%= @inspection.description %></li>
    <li>View Profile: <%= link_to @inspection.user.username, user_path(@inspection.user_id)%></li>
</ul>


<div> <%= link_to "Edit inspection", edit_inspection_path(@inspection) %></div>
<div> <%= link_to "Delete inspection", inspection_path(@inspection), method: :delete %></div>

<h3> Bookings: </h3>
<% @bookings.each do |booking| %>

    <h5> username: <%= link_to booking.user.email, booking_path(booking) %> </h5>

    <h5> note: <%= booking.note %> </h5>

    <h5> status: <%= booking.status %> </h5>
    <br/>
    <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
    <%= link_to "Reject", reject_booking_path(booking), method: :patch %>
    <%= link_to "Remove",
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>

<% end %>
<br/>
<div> <%= link_to "Show all inspections", inspections_path %> </div>

<% if current_user and !@pending_booking and !@active_bookings[0]%>
  <%= simple_form_for [@inspection, @booking] do |f| %>
    <%= f.input :note %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= simple_form_for [@inspection, @comment] do |f| %>
  <%= f.input :private, :as => :hidden, :input_html => { :value => false } %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

Comments:
<% @comments.each do |comment| %>
  <h3> <%= comment.user.username %> </h3>
  <h5> <%= comment.description %> </h5>

  <% if comment.user == current_user %>
    <div> <%= link_to "Edit", edit_comment_path(comment)%> </div>
    <div> <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" }%> </div>
  <% end %>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
