<%= link_to "Show all inspections", inspections_path %>

<div class="scroller_index ml-0">
    <div class="row card-container">
      <div class="col ">

        <div class="card index-card"> <!-- style="width: 20rem" -->

                <div class="card-body">
                  <div class="card_type"></div>
                  <div class="top_sec">
                   <%= @inspection.location.truncate(27, separator: /\s/) %><br>
                    <%= @inspection.date.strftime('%e %b') %>
                    <span> <%= @inspection.time.to_time.strftime('%H:%M') %></span>
                  </div>
                  <div class="desc">
                     <%= link_to @inspection.user.username, user_path(@inspection.user_id)%>
                     <%= @inspection.description %>
                  </div>
                  <div class="price">
                    <h6><strong>$<%= @inspection.payment_amount %></strong></h6>
                  </div>
                </div>
                <%= link_to "Edit inspection", edit_inspection_path(@inspection), :class => "btn btn-success" %>
                <%= link_to "Delete inspection", inspection_path(@inspection), method: :delete, :class => "btn btn-danger" %>
            </div>


      </div>
    </div>
</div>
